  {% extends "layout.html" %}
  {% block content %}
  <div id="header1001">
		<div style="color:#4B0082">
  			<div id="first"><p><img src="https://static.pexels.com/photos/7863/theme-portraits.jpg" alt="profile1" style="width:350px;height:250px"> </p></div>
    		<div id="second">
    				<h3>    Isim Soyisim</h3>
  					<p>    ITU </p>

    		</div>
		</div>
	</div>

	<div id="header1001">
		<div style="color:#4B0082">
  			<div id="first"><p><img src="https://static.pexels.com/photos/6972/summer-office-student-work.jpg" alt="profile2" style="width:350px;height:250px"> </p></div>
    		<div id="second">

    				<h3>   Ad Soyad</h3>
  					<p>   Sirket </p>
    		</div>
		</div>
	</div>

	<div id="header1001">
		<div style="color:#4B0082">
  			<div id="first"><p><img src="https://static.pexels.com/photos/7361/startup-photos.jpg" alt="profile3" style="width:350px;height:250px"> </p></div>
    		<div id="second">
    				<h3>   Isim Soyisim</h3>
  					<p>   Firma </p>
    		</div>
		</div>
	</div>


  {% endblock %}