  {% extends "layout.html" %}
  {% block content %}
  
  	
  	
  	<div class="page-header">
  		<h1>Bilgiyi Duzenle</h1>
	</div>
	<form action="{{url_for('edit_experience', experienceid=key,personid=personid)}}" method="post" role="form">
		<div class="col-sm-3" style="background-color:#F0F0F0">
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="CompanyName">Sirket Adi:</label>
					<input id="CompanyName" type="text" style="color:black" name="CompanyName" class="form-control" required autofocus />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="YearStart">Baslangic:</label>
					<input id="YearStart" type="date" style="color:black" name="YearStart" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="YearEnd">Bitis:</label>
					<input id="YearEnd" type="date" style="color:black" name="YearEnd" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="Position">Position:</label>
					<input id="Position" type="text" style="color:black" name="Position" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			
			<br>
			<div class="pull-right">
	      		<button class="btn btn-primary" name="UpdateExperience" type="submit" class="btn btn-default">Duzenle</button>
			</div> <!-- End of form-group -->
		</div>
	 </form>
	 
	{% for key, CompanyName, YearStart,YearEnd,Position,personid  in UpdateExperienceValue %}
		
  		<script>
  		document.getElementById('CompanyName').value="{{CompanyName}}" ; 
  		document.getElementById('YearStart').value="{{YearStart}}" ; 
  		document.getElementById('YearEnd').value="{{YearEnd}}" ; 
  		document.getElementById('Position').value="{{Position}}" ; 
  		</script>
  		
  	{% endfor %}
	
  
  {% endblock %}