  {% extends "layout.html" %}
  {% block content %}
                  <div class="col-sm-7">
            <div class="text-area">
              <div class="position-center-center col-md-10">
                <h1>Hakkımızda</h1>
                <h6>istanbul is ilanlari ituscdb1627'da.Yüzlercesiyle profesyonel iş dünyasının sosyal iletişim ağına hoş geldiniz. </h6>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
			<img src="https://static.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin-large.jpg" style="width:450px;height:150px">
				<h1>Hayalleriniz Gerçekleşecek.</h1>

		  </div>


  {% endblock %}block %}