  {% extends "layout.html" %}
  {% block content %}
         <!-- CONTENT -->
          <div class="col-sm-7">
            <div class="text-area">
              <div class="position-center-center col-md-10">
                <h1> Beklediginiz Sosyal  iletisim Platformuna Hosgeldiniz</h1>
                <h6>400 milyon+ uye | Profesyonel kimliginizi yonetin. Profesyonel aglarinizi kurun ve aglarinizla baglantiya gecin.</h6>
              </div>
            </div>
          </div>







               </div>
              </div>
            </div>
          </div>




{% endblock %}
