  {% extends "layout.html" %}
  {% block content %}
  <div id="header1000">
		<div style="color:#400040">
  			<div id="group"><p><img src="https://static.pexels.com/photos/132700/pexels-photo-132700.jpeg" alt="group1" style="width:1000px;height:350px"> </p></div>
    		<div id="area">
    				<h3>Group name for interests</h3>
  					<p>Group contents and shares </p>
    		</div>
		</div>
	</div>

	<div id="header1000">
		<div style="color:#400040">
  			<div id="group"><p><img src="https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg" alt="group2" style="width:1000px;height:350px"> </p></div>
    		<div id="area">
    			 <h3>Group name for interests</h3>
  			     <p>Group contents and shares </p>
    		</div>
		</div>
	</div>

	<div id="header1000">
		<div style="color:#400040">
  			<div id="group"><p><img src="https://static.pexels.com/photos/188777/pexels-photo-188777.jpeg" alt="group3" style="width:1000px;height:350px"> </p></div>
    		<div id="area">
    				<h3>Group name for interests</h3>
  					<p>Group contents and shares </p>
    		</div>
		</div>
	</div>


  {% endblock %}