  {% extends "layout.html" %}
  {% block content %}



 	<table class="table table-bordered table-striped">
		<tr>
		    <th>Grup Adi</th>
		    <th>Aciklama</th>
		    <th>Kurulus Yili</th>
		    <th>Sektor</th>
		 </tr>
		{% for key, GroupName, Explanation,StartDate ,Sector, Personid in grup %}
		<tr>
			<td> {{ GroupName }} </td>
			<td> {{ Explanation }} </td>
			<td> {{ StartDate }} </td>
			<td> {{ Sector }} </td>
			<td>
			<form action="{{ url_for('ilgialanlari_page',personid=personid) }}" method="post" role="form" style="display: inline">
							<input value="{{key}}" name="id" type="hidden" />
							<button class="btn btn-default" name="Delete" type="submit">Gruplarimdan Cikar</button>
			</form>
			<form action="{{url_for('ilgialanlari_page',personid=personid)}}" method="post" role="form" style="display: inline">
							<input value="{{key}}" name="id" type="hidden" />
							<button class="btn btn-default" name="Update" type="submit">Duzenle</button>
			</form>
			</td>
		</tr>
	{% endfor %}
	</table>
	<div class="page-header">
  		<h1>Grup Kur</h1>
	</div>
	<form action="{{ url_for('ilgialanlari_page',personid=personid) }}" method="post" role="form">
		<div class="col-sm-3">
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="GroupName">Grup Adi:</label>
					<input type="text" style="color:black" name="GroupName" class="form-control" required autofocus />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="Explanation">Aciklama:</label>
					<input type="text" style="color:black" name="Explanation" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="StartDate">Kurulus Tarihi(GG-AA-YYYY):</label>
					<input type="date" name="StartDate" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="Sector">Sektor:</label>
					<input type="text" style="color:black" name="Sector" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->

			<br>
			<div class="pull-right">
	      		<button name="Add" type="submit" class="btn btn-default">Kur</button>
			</div> <!-- End of form-group -->
		</div>
	 </form>

	 <div class="col-sm-3">
	 	<form action ="{{url_for('ilgialanlari_page',personid=personid)}}" method="post">
  			<b>Grup Ara:</b><br>
  			<input type="text" style="color:black" name="GroupName">&nbsp
 			<input type="submit" value="Ara" name="Search">
		</form>
	 </div>

	  <table class="table table-bordered table-striped">
		<tr>
		    <th>Yayin Turu</th>
		    <th>Yayin Adi</th>
		    <th>Yayin Icerigi</th>
		    <th>Yayin Tarihi</th>
		 </tr>
		{% for key, EssayType,PublishName,PublishContent,PublishDate, Personid in publishes %}
		<tr>
			<td> {{ EssayType }} </td>
			<td> {{ PublishName }} </td>
			<td> {{ PublishContent }} </td>
			<td> {{ PublishDate }} </td>
			<td>
			<form action="{{ url_for('ilgialanlari_page',personid=personid) }}" method="post" role="form" style="display: inline">
							<input value="{{key}}" name="id" type="hidden" />
							<button class="btn btn-default" name="Deletepublishes" type="submit">Yayini Sil</button>
			</form>
			<form action="{{url_for('ilgialanlari_page',personid=personid)}}" method="post" role="form" style="display: inline">
							<input value="{{key}}" name="id" type="hidden" />
							<button class="btn btn-default" name="Updatepublishes" type="submit">Duzenle</button>
			</form>
			</td>
		</tr>
	{% endfor %}
	</table>
	<div class="page-header">
  		<h1>Yayin Olustur</h1>
	</div>
	<form action="{{ url_for('ilgialanlari_page',personid=personid) }}" method="post" role="form">
		<div class="col-sm-3">
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="EssayType">Yayin Turu:</label>
					<input type="text" style="color:black" name="EssayType" class="form-control" required autofocus />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="PublishName">Yayin Adi:</label>
					<input type="text" style="color:black" name="PublishName" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="PublishContent">Yayin Icerigi:</label>
					<input type="text" style="color:black" name="PublishContent" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="Sector">Yayin Tarihi(GG-AA-YYYY):</label>
					<input type="date" name="PublishDate" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->

			<br>
			<div class="pull-right">
	      		<button name="Addpublishes" type="submit" class="btn btn-default">Kur</button>
			</div> <!-- End of form-group -->
		</div>
	 </form>

	 <div class="col-sm-3">
	 	<form action ="{{url_for('ilgialanlari_page',personid=personid)}}" method="post">
  			<b>Yayin Ara:</b><br>
  			<input type="text" style="color:black" name="PublishName">&nbsp
 			<input type="submit" value="Ara" name="Searchpublishes">
		</form>
	 </div>

	 	  <table class="table table-bordered table-striped">
		<tr>
		    <th>Etkinlik Adi</th>
		    <th>Etkinlik Icerigi</th>
		    <th>Etkinlik Tarihi</th>
		 </tr>
		{% for key, ActivityName,ActivityContent,ActivityDate, Personid in activities %}
		<tr>
			<td> {{ ActivityName }} </td>
			<td> {{ ActivityContent }} </td>
			<td> {{ ActivityDate }} </td>
			<td>
			<form action="{{ url_for('ilgialanlari_page',personid=personid) }}" method="post" role="form" style="display: inline">
							<input value="{{key}}" name="id" type="hidden" />
							<button class="btn btn-default" name="Deleteactivities" type="submit">Etkinligi Sil</button>
			</form>
			<form action="{{url_for('ilgialanlari_page',personid=personid)}}" method="post" role="form" style="display: inline">
							<input value="{{key}}" name="id" type="hidden" />
							<button class="btn btn-default" name="Updateactivities" type="submit">Duzenle</button>
			</form>
			</td>
		</tr>
	{% endfor %}
	</table>
	<div class="page-header">
  		<h1>Etkinlik Olustur</h1>
	</div>
	<form action="{{ url_for('ilgialanlari_page',personid=personid) }}" method="post" role="form">
		<div class="col-sm-3">
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="ActivityName">Etkinlik Adi:</label>
					<input type="text" style="color:black" name="ActivityName" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="ActivityContent">Etkinlik Icerigi:</label>
					<input type="text" style="color:black" name="ActivityContent" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->
			<div class="form-group">
			 	<div class="row">
				  	<label class="control-label" for="ActivityDate">Etkinlik Tarihi(GG-AA-YYYY):</label>
					<input type="date" name="ActivityDate" class="form-control"  />
				</div>
			</div> <!-- End of form-group -->

			<br>
			<div class="pull-right">
	      		<button name="Addactivities" type="submit" class="btn btn-default">Olustur</button>
			</div> <!-- End of form-group -->
		</div>
	 </form>

	 <div class="col-sm-3">
	 	<form action ="{{url_for('ilgialanlari_page',personid=personid)}}" method="post">
  			<b>Etkinlik Ara:</b><br>
  			<input type="text" style="color:black" name="ActivityName">&nbsp
 			<input type="submit" value="Ara" name="Searchactivities">
		</form>
	 </div>


  {% endblock %}