  {% extends "layout.html" %}
  {% block content %}
  <!-- CONTENT -->
          <div class="col-sm-7">
            <div class="text-area">
              <div class="position-center-center col-md-10">
                <h1> Beklediğiniz İş Fırsatı Burada</h1>
                <h6>İstanbul İş ilanları ituscdb1627'da. Kariyer planınıza uygun iş ilanını aradığınız sektörü seçerek kolayca bulabilirsiniz.</h6>
              </div>
            </div>
          </div>
          
          <!-- FORM SECTION -->
          <div class="col-sm-5">
            <div class="login-sec"> 
              
              <!-- TABS -->
              <div class="uou-tabs">
                <ul class="tabs">
                  <li><a href="#register">Aradığınız İşi Bulun</a></li>
                  
                </ul>
                
                <!-- REGISTER -->
                <div class="content">
                 
                  
                  <!-- LOGIN -->
                  <div id="log-in" class="active">
                    <form>
                      <input type="text" placeholder="İl">
                      <input type="text" placeholder="Sektör">
                      <button type="submit">Ara</button>                      
                      
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        
  {% endblock %}