{% extends "layout.html" %}
  {% block content %}

  	  <form action="{{ url_for('signup_page')}}" method= "POST">

      <h1 name="signupheader"> Lutfen asagidaki bilgileri doldurunuz </h1>
       E-Posta: <br>
       <input type="text"  name="email" <br>
       Sifre: <br>
       <input type="password" name="password"> <br>
       <br>
       Isim:<br>
       <input type="text" name="name" <br>
       Soyisim: <br>
       <input type="password" name="surname"> <br>
       <br>
       <button style="height:50px;width:100px" type="submit" name="Submit" value="register" class="btn btn-info">Kayit Ol</button>
	</form>


   {% endblock %}